Source: vx-dga-l-adaptacion-visual
Section: utils
Priority: extra
Maintainer: Arturo Martín <amartinromero@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://wiki.vitalinux.educa.aragon.es

Package: vx-dga-l-adaptacion-visual
Architecture: all
Depends: ${misc:Depends}
Description: Adaptación visual de los iconos, tamaño de letra y tamaño del cursor
 Adaptación visual de los iconos, tamaño de letra y tamaño del cursor para usuarios con problemas
